<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722726449265-t2diqetcd5kdvo7pqhgmvv2iu477igv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722726449265-t2diqetcd5kdvo7pqhgmvv2iu477igv4</string>
	<key>API_KEY</key>
	<string>AIzaSyBtp2vjesi--AHfowDqwdB6eUj8xrnuWNA</string>
	<key>GCM_SENDER_ID</key>
	<string>722726449265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.huddleUpProject</string>
	<key>PROJECT_ID</key>
	<string>huddleupproject-c446d</string>
	<key>STORAGE_BUCKET</key>
	<string>huddleupproject-c446d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722726449265:ios:9991a96bff1ac8da22ebd0</string>
</dict>
</plist>